canvas {
    float:left;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

table {
    text-align: center;
    border: 1px solid black;
}

#instruction {
    width: 500px;
    font-size: large;
}